[Unit]
Description=RSPlayer backend server
Documentation=https://github.com/ljufa/rsplayer
Wants=network.target sound.target


[Service]
Environment=RUST_BACKTRACE=full
Environment=RSPLAYER_HTTP_PORT=80
Environment=RUST_LOG=rsplayer=info
ExecStart=/usr/local/bin/rsplayer
WorkingDirectory=/opt/rsplayer
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target