[Unit]
Description=RSPlayer backend server
Documentation=https://github.com/ljufa/rsplayer
Wants=network.target sound.target
After=remote-fs.target

[Service]
Environment=RUST_BACKTRACE=full
Environment=RSPLAYER_HTTP_PORT=80
Environment=RUST_LOG=rsplayer=info,warp=info
ExecStart=/usr/bin/rsplayer
WorkingDirectory=/opt/rsplayer
Restart=always
RestartSec=3
TimeoutStopSec=5

User=rsplayer
LimitRTPRIO=40
LimitRTTIME=infinity
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target