[Unit]
Description=RSPlayer backend server
Documentation=https://github.com/ljufa/rsplayer
Wants=network.target sound.target
After=remote-fs.target

[Service]
EnvironmentFile=/opt/rsplayer/env
ExecStart=/usr/bin/rsplayer
WorkingDirectory=/opt/rsplayer
Restart=always
RestartSec=3
TimeoutStopSec=5

User=rsplayer
LimitRTPRIO=40
LimitRTTIME=infinity
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_SYS_BOOT CAP_SYS_NICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SYS_BOOT CAP_SYS_NICE

CPUSchedulingPolicy=rr


[Install]
WantedBy=multi-user.target