[Unit]
Description=dac dplay daemon
Documentation=https://github.com/ljufa/dplayer
Wants=network-online.target lircd.service syslog.service
After=network-online.target lircd.service syslog.service

[Service]
LimitMEMLOCK=655360
Environment=RUST_BACKTRACE=full
Environment=RUST_LOG=dplay=debug,warp=debug
ExecStart=/home/pi/dplay
WorkingDirectory=/home/pi
ExecStartPre=sleep 5
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target