[Unit]
Description=rsplayer daemon
Documentation=https://github.com/ljufa/rsplayer-backend
Wants=network-online.target mpd.service lircd.service syslog.service
After=network-online.target mpd.service lircd.service syslog.service

[Service]
# LimitMEMLOCK=655360
Environment=RUST_BACKTRACE=full
Environment=RUST_LOG=rsplayer=debug,warp=debug
ExecStart=/usr/local/bin/rsplayer
WorkingDirectory=/opt/rsplayer
ExecStartPre=sleep 5
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target