[Desktop Entry]
Name=RSPlayer
Comment=Hi-fi music player with bit-perfect playback
Exec=rsplayer
Icon=${SNAP}/usr/share/icons/hicolor/512x512/apps/rsplayer.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
Keywords=music;audio;player;hifi;dac;flac;dsd;multiroom;
StartupNotify=true
