@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --background: #121212;
  --primary-text: #FFFFFF;
  --secondary-text: #B3B3B3;
  --accent: #1DB954;
  --ui-elements: #282828;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--primary-text);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.tabs.is-toggle li.is-active a {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--primary-text);
  z-index: 1;
}

.tabs a {
  color: var(--secondary-text);
}

.tabs a:hover {
  color: var(--accent);
  background-color: #333333; /* Slightly lighter dark gray background on hover */
}


.tabs:not(:last-child) {
  margin-bottom: 0rem;
}

.transparent {
  padding: 10px;
  display: block;
}

input[type=range].slider {
  margin: 0;
}

.button {
  box-shadow: none;
  background-color: var(--ui-elements);
  color: var(--primary-text);
  border: 1px solid var(--ui-elements);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: var(--accent);
    color: var(--primary-text);
}


.has-background-dark-transparent {
  background-color: rgba(24, 24, 24, 0.8);
}

.sk-fading-circle .sk-circle:before {
  background-color: var(--accent);
}

.scroll-list {
  padding: 5px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 1200px;
  scroll-behavior: smooth;
}

.scroll-list .current {
  background-color: var(--ui-elements);
}

.list-item .list-item-content {
  padding: 5px;
}

.list-item:not(.box) {
  padding: 0.5em;
}

.list-item-controls {
  padding-left: 5px;
}

.list-item-controls a {
  padding: 20px;
}

.play-button {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 1;
  text-align: center;
  color: var(--primary-text);
  background-color: rgba(29, 185, 84, 0.7);
  border-radius: 50px;
  transition: all 0.2s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button:hover,
.play-button:focus {
  color: var(--primary-text);
  background-color: var(--accent);
  transform: translate(-50%, -50%) scale(1.1);
}

.play-button::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 60px;
  content: "\f04b";
  padding-top: 20px;
  padding-left: 10px;
}

.load-more-button::after {
  content: "\f101";
  font-size: 90px;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  width: max-content;
}

.is-bottom {
  top: 73%;
}

.player-button-play {
  width: 80px;
  height: 80px;
  float: left;
  margin: 5px;
  line-height: 1;
  text-align: center;
  color: var(--primary-text);
  background-color: var(--accent);
  border-radius: 50px;
  transition: all .2s ease;
}

.player-button-play:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgb(0 0 0 / 24%);
}

.player-button-play:hover,
.player-button-play:focus {
  color: var(--primary-text);
  background-color: var(--accent);
  transform: scale(1.1);
}


.player-button-play::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f04b";
  padding-top: 20px;
  padding-left: 5px;
}

.player-button-play::after {
  font-size: 40px;
}

.player-button-pause::after {
  content: "\f04c";
  padding-left: 0px;
}


.player-button-next {
  width: 60px;
  height: 60px;
  transform: translate(0%, 20%);
}

.player-button-next::after {
  font-size: 40px;
  content: "\f051";
  padding-top: 10px;
  padding-left: 0px;

}

.player-button-prev {
  width: 60px;
  height: 60px;
  transform: translate(0%, 20%);
}

.player-button-prev::after {
  font-size: 40px;
  content: "\f048";
  padding-top: 10px;
  padding-left: 0px;
}

.small-button {
  background-color: transparent;
  color: var(--secondary-text);
  margin: 5px;
  border-width: thin;
  width: 40px;
  height: 40px;
  font-size: 22px;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.2s ease;
}

.small-button:hover {
    color: var(--primary-text);
}

.small-button .material-icons {
  font-size: 22px;
}

.is-large-icon {
  font-size: 36px;
  padding-left: 5px;
  transition: transform .2s ease;

}

.is-large-icon:hover,
.is-large-icon:focus {
  transform: scale(1.2);
}

.section {
  overflow: hidden;
}

.modal-background {
  background-color: rgba(18, 18, 18, 0.7);
}

.white-icon {
  color: var(--primary-text);
}

.main-content {
  padding-bottom: 80px;
}

.page-foot {
  background-color: var(--ui-elements);
  color: var(--primary-text);
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;
  height: 80px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-top: 1px solid #000;
}

p.has-overflow-ellipsis-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 580px;
  overflow: hidden;
}

p.has-overflow-ellipsis-text-large {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 700px;
  overflow: hidden;
}

p.has-min-width {
  min-width: 700px;
}


@media screen and (max-width: 700px) {
  p.has-overflow-ellipsis-text {
    max-width: 160px;
  }
  p.has-overflow-ellipsis-text-large {
    width: 260px;
  }
  p.has-min-width {
    min-width: 260px;
  }
  p.level-item {
    width: 190px;
    justify-content: left;
  }
  p.level-item {
    width: 160px;
    justify-content: left;
  }
}

input.input-size {
  width: 400px;
}

@media screen and (max-width: 700px) {
  input.input-size {
    width: 220px;
  }
}

.small-button-footer {
  padding: 8px;
  font-size: 1.6em;
}

.modal {
  padding-bottom: 80px;
}

#app {
  user-select: none;
}

.card {
  background-color: var(--ui-elements);
  padding: 10px;
  border-radius: 8px;
}

.card-footer-item {
  background-color: var(--ui-elements);
  margin: 15px;
}

.image-center-half-size {
  width: 50%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.available-width {
  width: -moz-available;
  width: -webkit-fill-available;
}

.breadcrumb a {
  color: var(--secondary-text);
}

.breadcrumb a:hover {
  color: var(--primary-text);
}

.wtree li {
    list-style-type: none;
    margin: 5px 2px 5px 10px;
    position: relative;
}

.wtree li:before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;
      border-left: 1px solid var(--ui-elements);
      border-bottom: 1px solid var(--ui-elements);
      width: 10px;
      height: 15px;
}

.wtree li:after {
      position: absolute;
      content: "";
      top: 5px;
      left: -10px;
      border-left: 1px solid var(--ui-elements);
      border-top: 1px solid var(--ui-elements);
      width: 10px;
      height: 100%;
}

.wtree li:last-child:after {
      display: none;
}

.wtree li span {
      display: block;
      border: 1px solid var(--ui-elements);
      color: var(--primary-text);
      text-decoration: none;
}

.wtree li span:hover,
.wtree li span:focus {
        background: var(--ui-elements);
        color: var(--primary-text);
        border: 1px solid var(--accent);
}

.wtree li span:hover+ul li:after,
.wtree li span:hover+ul li:before,
.wtree li span:focus+ul li:after,
.wtree li span:focus+ul li:before {
            border-color: var(--accent);
}

.card-footer-item {
  color: var(--primary-text);
}

.carousel .card {
  margin: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button:active, .button:focus {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgb(0 0 0 / 24%);
}

a:hover {
    color: var(--accent);
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

.player-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  padding: 1rem;
}

.track-info {
  margin-bottom: 2rem;
}

.player-controls {
  width: 100%;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.button.is-ghost {
    background-color: transparent;
    border-color: transparent;
    color: var(--primary-text);
}

.button.is-ghost:hover {
    background-color: var(--accent);
    color: var(--primary-text);
}

.progress.is-primary::-webkit-progress-value {
    background-color: var(--accent);
}

.progress.is-primary::-moz-progress-bar {
    background-color: var(--accent);
}

.progress.is-primary::-ms-fill {
    background-color: var(--accent);
}

.slider.is-primary::-webkit-slider-thumb {
    background-color: var(--accent);
}

.slider.is-primary::-moz-range-thumb {
    background-color: var(--accent);
}

.track-info-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
